.meetVideoContainer {
    position: relative;
    height: 100vh;
    background: rgb(1, 4, 48);
}


.meetUserVideo {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 150px;      /* equal width & height → square */
    height: 150px;

    object-fit: cover; /* prevents distortion */
    border-radius: 15px;

    z-index: 10;       /* stays above other videos */
}

.buttonContainers {
    position: absolute;
    width: 100vw;
    bottom: 0;
    text-align: center;
}

.buttonContainers svg {
    font-size: 3rem;
}

.conferenceView {
    display: flex;
    justify-content: center;   /* center horizontally */
    align-items: center;       /* center vertically */
    height: 100vh;             /* full screen */
    padding: 10px;
}

/* Receiver video */
.conferenceView video {
    width: 60vh;               /* equal width & height → square */
    height: 60vh;
    object-fit: cover;         /* crop properly */
    border-radius: 20px;
}

.chatRoom {
    position: absolute;
    height: 90vh;
    right: 0;
    background: white;
    border-radius: 10px;
    width: 30vw;
    padding-inline: 20px;
}

.chatContainer {
    position: relative;
    height: 100%;
}


.chattingArea {
    position: absolute;
    bottom: 0;
}