.meetVideoContainer {
    position: relative;
    height: 100vh;
    background: rgb(1, 4, 48);
}


.meetUserVideo {
    position: absolute;
    bottom: 20px;
    left: 10px;
    width: 150px;      /* equal width & height → square */
    height: 150px;

    object-fit: cover; /* prevents distortion */
    border-radius: 15px;

    z-index: 10;       /* stays above other videos */
}

.buttonContainers {
    position: absolute;
    width: 100vw;
    bottom: 0;
    text-align: center;
}

.buttonContainers svg {
    font-size: 3rem;
}

.conferenceView {
    display: flex;
    flex-wrap: wrap;              /* allows multiple videos */
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 100vh;
}

.conferenceView video {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
}

.chatRoom {
    position: absolute;
    height: 90vh;
    right: 0;
    background: white;
    border-radius: 10px;
    width: 30vw;
    padding-inline: 20px;
}

.chatContainer {
    position: relative;
    height: 100%;
}


.chattingArea {
    position: absolute;
    bottom: 0;
}